@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <!-- Creación de un enlace que apunta a la acción Articulo pasando un ID como parámetro de ruta -->
    <a href="/Home/Articulo/7">Mostrar Artículo</a>

    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>